<% @cocktails.each do |cocktail| %>
  <div class="fullpage_banner" data-aos="fade-right">
    <section>
      <h3><%= cocktail.name %></h3>
      <% reviews = cocktail.reviews.map {|review| review.rating} %>
      <% average = reviews.reduce(:+) / reviews.length unless reviews.empty? %>
      <p> Average Rating : <%= ("<i class='fas fa-star'></i>".html_safe * average) unless average.nil? %> <%= "No reviews" if average.nil? %> </p>
      <h5> Ingredients :</h5>
      <ul>
        <% cocktail.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
        <% end %>
      </ul>
      <%= link_to "Go to Recipe", cocktail_path(cocktail), class:"button_square" %>
    </section>
  </div>
<% end %>
