<figure class="banner">
  <h1> <%= @cocktail.name %> </h1>
</figure>

<div class="container d-flex justify-content-center">
  <section class="card-list">
    <h3>Recipe</h3>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.ingredient.name %> - <%= dose.description %>   (<%= link_to "Delete",
            dose_path(dose),
            method: :delete,
            data: { confirm: "Are you sure you want to remove this ingredient?" }  %>)
        </li>
      <% end %>
    </ul>
    <%= render 'shared/modal' %>
  </section>
</div>







